.overview-page-outer {
    display: inline-flex;
    justify-content: center;
    margin: 2vh;
    width: 80vh;
    border-radius: 8vh;
    z-index: 300;
    background-color: blue;
}

.overview-page-inner {
    display: flex;
    flex-direction: column;
    margin: 1vh;
    width: 78vh;
    z-index: 200;
    border-radius: 8vh;
    padding-bottom: 2vh;
    background-color: #282c34;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.resume > img {
    height: 100%;
    width: 90%;
}